In [41]:
#write your code here

#
#   HOW MANY PRINTS CAN ONE CELL GIVE?
#



#print('ta funcionando ou nao?')
# let us import the Pandas Library
#import pandas as pd

#create a dictionary
y = {'Student': ['David','Samuel', 'Jane', 'Mary'], 'Age': [1, 2, 3, 4], 'Country': ['UK', 'Canda', 'china', 'Usa'], 
      'Marks':[85, 75, 89, 76], 'Course':['python', 'Data structure','a','b']}

ycopied = {'Name': ['MRose','John', 'Jane', 'Mary'], 'ID': [1, 2, 3, 4], 'Department': ['Architect Group', 'Software Group', 'Design Team', 'Infrastructure'], 
      'Salary':[100000, 80000, 50000, 60000]}

#print(y)
#print(type(y))

df2 = pd.DataFrame(y)
df2

#create a data frame
df = pd.DataFrame(ycopied)
df

#print(type(df_y))

#create a subset
#partialDfY = df_y[['Student','Age','Country','Course', 'Marks']]

    Name  ID       Department  Salary
0  MRose   1  Architect Group  100000
1   John   2   Software Group   80000
2   Jane   3      Design Team   50000
3   Mary   4   Infrastructure   60000

In [29]:
k = {'Name': ['MRose','John', 'Jane', 'Mary'], 'ID': [1, 2, 3, 4], 'Department': ['Architect Group', 'Software Group', 'Design Team', 'Infrastructure'], 
      'Salary':[100000, 80000, 50000, 60000]}

ycopied = {'Name': ['alphaMRose','John', 'Jane', 'Mary'], 'ID': [1, 2, 3, 4], 'Department': ['Architect Group', 'Software Group', 'Design Team', 'Infrastructure'], 
      'Salary':[100000, 80000, 50000, 60000]}

y = {'Student': ['David','Samuel', 'Jane', 'Mary'], 'Age': [1, 2, 3, 4], 'Country': ['UK', 'Canda', 'china', 'Usa'], 
      'Marks':[85, 75, 89, 76], 'Course':['python', 'Data structure','a','b']}


print(x)
print(type(x))

#casting the dictionary to a DataFrame
df2 = pd.DataFrame(y)

#display the result df
df2

{'Name': ['Rose', 'John', 'Jane', 'Mary'], 'ID': [1, 2, 3, 4], 'Department': ['Architect Group', 'Software Group', 'Design Team', 'Infrastructure'], 'Salary': [100000, 80000, 50000, 60000]}
<class 'dict'>

  Student  Age Country  Marks          Course
0   David    1      UK     85          python
1  Samuel    2   Canda     75  Data structure
2    Jane    3   china     89               a
3    Mary    4     Usa     76               b