<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0220ENSkillsNetwork23455606-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Web Scraping Lab**

Estimated time needed: **30** minutes

## Objectives

After completing this lab you will be able to:

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li>
            <a href="https://bso/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0220ENSkillsNetwork23455606-2021-01-01">Beautiful Soup Object</a>
            <ul>
                <li>Tag</li>
                <li>Children, Parents, and Siblings</li>
                <li>HTML Attributes</li>
                <li>Navigable String</li>
            </ul>
        </li>
     </ul>
    <ul>
        <li>
            <a href="https://filter/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0220ENSkillsNetwork23455606-2021-01-01">Filter</a>
            <ul>
                <li>find All</li>
                <li>find </li>
                <li>HTML Attributes</li>
                <li>Navigable String</li>
            </ul>
        </li>
     </ul>
     <ul>
        <li>
            <a href="https://dscw/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0220ENSkillsNetwork23455606-2021-01-01">Downloading And Scraping The Contents Of A Web</a>
    </li>
         </ul>
    <p>
        Estimated time needed: <strong>25 min</strong>
    </p>

</div>

<hr>

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [1]:
!mamba install bs4==4.10.0 -y
!pip install lxml==4.6.4
!mamba install html5lib==1.1 -y
# !pip install requests==2.26.0

                  __    __    __    __
                 /  \  /  \  /  \  /  \
                /    \/    \/    \/    \
███████████████/  /██/  /██/  /██/  /████████████████████████
              /  / \   / \   / \   / \  \____
             /  /   \_/   \_/   \_/   \    o \__,
            / _/                       \_____/  `
            |/
        ███╗   ███╗ █████╗ ███╗   ███╗██████╗  █████╗
        ████╗ ████║██╔══██╗████╗ ████║██╔══██╗██╔══██╗
        ██╔████╔██║███████║██╔████╔██║██████╔╝███████║
        ██║╚██╔╝██║██╔══██║██║╚██╔╝██║██╔══██╗██╔══██║
        ██║ ╚═╝ ██║██║  ██║██║ ╚═╝ ██║██████╔╝██║  ██║
        ╚═╝     ╚═╝╚═╝  ╚═╝╚═╝     ╚═╝╚═════╝ ╚═╝  ╚═╝

        mamba (0.15.3) supported by @QuantStack

        GitHub:  https://github.com/mamba-org/mamba
        Twitter: https://twitter.com/QuantStack

█████████████████████████████████████████████████████████████


Looking for: ['bs4==4.10.0']

pkgs/main/noarch         [<=>                 ] (00m:00s)
pkgs/main/noarch         [=>                ] (00m:00s) 396  B / ?? (2.55 KB/s)
pkgs/main/noarch         [=>                ] (00m:00s) 396  B / ?? (2.55 KB/s)
pkgs/r/noarch            [>                   ] (--:--) Finalizing...
pkgs/main/noarch         [=>                ] (00m:00s) 396  B / ?? (2.55 KB/s)
pkgs/r/noarch            [>                   ] (--:--) Done
pkgs/r/noarch            [====================] (00m:00s) Done
pkgs/main/noarch         [=>                ] (00m:00s) 396  B / ?? (2.55 KB/s)
pkgs/main/noarch         [=>                ] (00m:00s) 396  B / ?? (2.55 KB/s)
pkgs/main/linux-64       [<=>                 ] (00m:00s)
pkgs/main/noarch         [=>                ] (00m:00s) 396  B / ?? (2.55 KB/s)
pkgs/main/linux-64       [=>                ] (00m:00s) 380 KB / ?? (1.23 MB/s)
pkgs/main/noarch         [<=>               ] (00m:00s) 396  B / ?? (2.55 KB/s)
pkgs/main/linux-64       [=>                ] (00m:00s) 380 KB / ?? (1.23 MB/s)
pkgs/main/noarch         [<=>               ] (00m:00s) 776 KB / ?? (2.50 MB/s)
pkgs/main/linux-64       [=>                ] (00m:00s) 380 KB / ?? (1.23 MB/s)
pkgs/main/noarch         [<=>               ] (00m:00s) 776 KB / ?? (2.50 MB/s)
pkgs/main/linux-64       [=>                ] (00m:00s) 380 KB / ?? (1.23 MB/s)
pkgs/r/linux-64          [<=>                 ] (00m:00s)
pkgs/main/noarch         [<=>               ] (00m:00s) 776 KB / ?? (2.50 MB/s)
pkgs/main/linux-64       [=>                ] (00m:00s) 380 KB / ?? (1.23 MB/s)
pkgs/r/linux-64          [=>                ] (00m:00s) 608 KB / ?? (1.96 MB/s)
pkgs/main/noarch         [ <=>                ] (00m:00s) Finalizing...
pkgs/main/linux-64       [=>                ] (00m:00s) 380 KB / ?? (1.23 MB/s)
pkgs/r/linux-64          [=>                ] (00m:00s) 608 KB / ?? (1.96 MB/s)
pkgs/main/noarch         [ <=>                ] (00m:00s) Done
pkgs/main/linux-64       [=>                ] (00m:00s) 380 KB / ?? (1.23 MB/s)
pkgs/r/linux-64          [=>                ] (00m:00s) 608 KB / ?? (1.96 MB/s)
pkgs/main/noarch         [====================] (00m:00s) Done
pkgs/main/linux-64       [=>                ] (00m:00s) 380 KB / ?? (1.23 MB/s)
pkgs/r/linux-64          [=>                ] (00m:00s) 608 KB / ?? (1.96 MB/s)
pkgs/main/linux-64       [=>                ] (00m:00s) 380 KB / ?? (1.23 MB/s)
pkgs/r/linux-64          [<=>                 ] (00m:00s) Finalizing...
pkgs/main/linux-64       [=>                ] (00m:00s) 380 KB / ?? (1.23 MB/s)
pkgs/r/linux-64          [<=>                 ] (00m:00s) Done
pkgs/r/linux-64          [====================] (00m:00s) Done
pkgs/main/linux-64       [=>                ] (00m:00s) 380 KB / ?? (1.23 MB/s)
pkgs/main/linux-64       [<=>               ] (00m:00s) 380 KB / ?? (1.23 MB/s)
pkgs/main/linux-64       [<=>               ] (00m:00s) 816 KB / ?? (1.76 MB/s)
pkgs/main/linux-64       [ <=>              ] (00m:00s) 816 KB / ?? (1.76 MB/s)
pkgs/main/linux-64       [  <=>               ] (00m:00s) 1 MB / ?? (2.03 MB/s)
pkgs/main/linux-64       [   <=>              ] (00m:00s) 1 MB / ?? (2.03 MB/s)
pkgs/main/linux-64       [   <=>              ] (00m:00s) 2 MB / ?? (2.20 MB/s)
pkgs/main/linux-64       [    <=>             ] (00m:00s) 2 MB / ?? (2.20 MB/s)
pkgs/main/linux-64       [    <=>             ] (00m:00s) 2 MB / ?? (2.32 MB/s)
pkgs/main/linux-64       [     <=>            ] (00m:00s) 2 MB / ?? (2.32 MB/s)
pkgs/main/linux-64       [     <=>            ] (00m:00s) 3 MB / ?? (2.37 MB/s)
pkgs/main/linux-64       [      <=>           ] (00m:00s) 3 MB / ?? (2.37 MB/s)
pkgs/main/linux-64       [      <=>           ] (00m:00s) 3 MB / ?? (2.44 MB/s)
pkgs/main/linux-64       [       <=>          ] (00m:01s) 3 MB / ?? (2.44 MB/s)
pkgs/main/linux-64       [       <=>          ] (00m:01s) 3 MB / ?? (2.49 MB/s)
pkgs/main/linux-64       [        <=>         ] (00m:01s) 3 MB / ?? (2.49 MB/s)
pkgs/main/linux-64       [        <=>         ] (00m:01s) 4 MB / ?? (2.54 MB/s)
pkgs/main/linux-64       [         <=>        ] (00m:01s) 4 MB / ?? (2.54 MB/s)
pkgs/main/linux-64       [         <=>        ] (00m:01s) 4 MB / ?? (2.57 MB/s)
pkgs/main/linux-64       [         <=>        ] (00m:01s) Finalizing...
pkgs/main/linux-64       [         <=>        ] (00m:01s) Done
pkgs/main/linux-64       [====================] (00m:01s) Done

Pinned packages:
  - python 3.7.*


Transaction

  Prefix: /home/jupyterlab/conda/envs/python

  Updating specs:

   - bs4==4.10.0
   - ca-certificates
   - certifi
   - openssl


  Package               Version  Build           Channel                  Size
────────────────────────────────────────────────────────────────────────────────
  Install:
────────────────────────────────────────────────────────────────────────────────

  + beautifulsoup4       4.10.0  pyh06a4308_0    pkgs/main/noarch        85 KB
  + bs4                  4.10.0  hd3eb1b0_0      pkgs/main/noarch        10 KB
  + soupsieve             2.3.1  pyhd3eb1b0_0    pkgs/main/noarch        34 KB

  Change:
────────────────────────────────────────────────────────────────────────────────

  - certifi         2022.5.18.1  py37h89c1867_0  installed
  + certifi         2022.5.18.1  py37h06a4308_0  pkgs/main/linux-64     147 KB
  - openssl              1.1.1o  h166bdaf_0      installed
  + openssl              1.1.1o  h7f8727e_0      pkgs/main/linux-64       3 MB

  Summary:

  Install: 3 packages
  Change: 2 packages

  Total download: 3 MB

────────────────────────────────────────────────────────────────────────────────

Downloading  [>                                        ] (00m:00s)   39.09 KB/s
Extracting   [>                                                      ] (--:--)
Finished bs4                                  (00m:00s)              10 KB     39 KB/s
Downloading  [>                                        ] (00m:00s)   39.09 KB/s
Extracting   [>                                                      ] (--:--)
Downloading  [>                                        ] (00m:00s)   39.09 KB/s
Extracting   [>                                                      ] (--:--)
Downloading  [>                                        ] (00m:00s)   39.09 KB/s
Extracting   [>                                                      ] (--:--)
Downloading  [>                                        ] (00m:00s)  171.30 KB/s
Extracting   [>                                                      ] (--:--)
Finished soupsieve                            (00m:00s)              34 KB    132 KB/s
Downloading  [>                                        ] (00m:00s)  171.30 KB/s
Extracting   [>                                                      ] (--:--)
Downloading  [>                                        ] (00m:00s)  171.30 KB/s
Extracting   [>                                                      ] (--:--)
Downloading  [>                                        ] (00m:00s)  171.30 KB/s
Extracting   [========>                                ] (00m:00s)        1 / 5
Downloading  [>                                        ] (00m:00s)  171.30 KB/s
Extracting   [========>                                ] (00m:00s)        1 / 5
Downloading  [=>                                       ] (00m:00s)  495.08 KB/s
Extracting   [========>                                ] (00m:00s)        1 / 5
Finished beautifulsoup4                       (00m:00s)              85 KB    325 KB/s
Downloading  [=>                                       ] (00m:00s)  495.08 KB/s
Extracting   [========>                                ] (00m:00s)        1 / 5
Downloading  [=>                                       ] (00m:00s)  495.08 KB/s
Extracting   [========>                                ] (00m:00s)        1 / 5
Downloading  [===>                                     ] (00m:00s)    1.03 MB/s
Extracting   [========>                                ] (00m:00s)        1 / 5
Finished certifi                              (00m:00s)             147 KB    562 KB/s
Downloading  [===>                                     ] (00m:00s)    1.03 MB/s
Extracting   [========>                                ] (00m:00s)        1 / 5
Downloading  [===>                                     ] (00m:00s)    1.03 MB/s
Extracting   [========>                                ] (00m:00s)        1 / 5
Downloading  [===>                                     ] (00m:00s)    1.03 MB/s
Extracting   [================>                        ] (00m:00s)        2 / 5
Downloading  [===>                                     ] (00m:00s)    1.03 MB/s
Extracting   [================>                        ] (00m:00s)        2 / 5
Downloading  [===>                                     ] (00m:00s)    1.03 MB/s
Extracting   [========================>                ] (00m:00s)        3 / 5
Downloading  [===>                                     ] (00m:00s)    1.03 MB/s
Extracting   [========================>                ] (00m:00s)        3 / 5
Downloading  [===>                                     ] (00m:00s)    1.03 MB/s
Extracting   [================================>        ] (00m:00s)        4 / 5
Downloading  [=========================================] (00m:00s)    9.33 MB/s
Extracting   [================================>        ] (00m:00s)        4 / 5
Finished openssl                              (00m:00s)               3 MB      8 MB/s
Downloading  [=========================================] (00m:00s)    9.33 MB/s
Extracting   [================================>        ] (00m:00s)        4 / 5
Downloading  [=========================================] (00m:00s)    9.33 MB/s
Extracting   [================================>        ] (00m:00s)        4 / 5
Downloading  [=========================================] (00m:00s)    9.33 MB/s
Extracting   [================================>        ] (00m:00s)        4 / 5
Downloading  [=========================================] (00m:00s)    9.33 MB/s
Extracting   [=========================================] (00m:00s)        5 / 5
Preparing transaction: done
Verifying transaction: done
Executing transaction: done
Collecting lxml==4.6.4
  Downloading lxml-4.6.4-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.3/6.3 MB 39.6 MB/s eta 0:00:0000:0100:01
Installing collected packages: lxml
  Attempting uninstall: lxml
    Found existing installation: lxml 4.9.0
    Uninstalling lxml-4.9.0:
      Successfully uninstalled lxml-4.9.0
Successfully installed lxml-4.6.4

                  __    __    __    __
                 /  \  /  \  /  \  /  \
                /    \/    \/    \/    \
███████████████/  /██/  /██/  /██/  /████████████████████████
              /  / \   / \   / \   / \  \____
             /  /   \_/   \_/   \_/   \    o \__,
            / _/                       \_____/  `
            |/
        ███╗   ███╗ █████╗ ███╗   ███╗██████╗  █████╗
        ████╗ ████║██╔══██╗████╗ ████║██╔══██╗██╔══██╗
        ██╔████╔██║███████║██╔████╔██║██████╔╝███████║
        ██║╚██╔╝██║██╔══██║██║╚██╔╝██║██╔══██╗██╔══██║
        ██║ ╚═╝ ██║██║  ██║██║ ╚═╝ ██║██████╔╝██║  ██║
        ╚═╝     ╚═╝╚═╝  ╚═╝╚═╝     ╚═╝╚═════╝ ╚═╝  ╚═╝

        mamba (0.15.3) supported by @QuantStack

        GitHub:  https://github.com/mamba-org/mamba
        Twitter: https://twitter.com/QuantStack

█████████████████████████████████████████████████████████████


Looking for: ['html5lib==1.1']

pkgs/main/linux-64       Using cache
pkgs/main/noarch         Using cache
pkgs/r/linux-64          Using cache
pkgs/r/noarch            Using cache

Pinned packages:
  - python 3.7.*


Transaction

  Prefix: /home/jupyterlab/conda/envs/python

  Updating specs:

   - html5lib==1.1
   - ca-certificates
   - certifi
   - openssl


  Package         Version  Build         Channel                 Size
───────────────────────────────────────────────────────────────────────
  Install:
───────────────────────────────────────────────────────────────────────

  + html5lib          1.1  pyhd3eb1b0_0  pkgs/main/noarch       91 KB
  + webencodings    0.5.1  py37_1        pkgs/main/linux-64     19 KB

  Summary:

  Install: 2 packages

  Total download: 110 KB

───────────────────────────────────────────────────────────────────────

Downloading  [======>                                  ] (00m:00s)  141.44 KB/s
Extracting   [>                                                      ] (--:--)
Finished webencodings                         (00m:00s)              19 KB    141 KB/s
Downloading  [======>                                  ] (00m:00s)  141.44 KB/s
Extracting   [>                                                      ] (--:--)
Downloading  [======>                                  ] (00m:00s)  141.44 KB/s
Extracting   [>                                                      ] (--:--)
Downloading  [======>                                  ] (00m:00s)  141.44 KB/s
Extracting   [>                                                      ] (--:--)
Downloading  [======>                                  ] (00m:00s)  141.44 KB/s
Extracting   [====================>                    ] (00m:00s)        1 / 2
Downloading  [=========================================] (00m:00s)  737.70 KB/s
Extracting   [====================>                    ] (00m:00s)        1 / 2
Finished html5lib                             (00m:00s)              91 KB    609 KB/s
Downloading  [=========================================] (00m:00s)  737.70 KB/s
Extracting   [====================>                    ] (00m:00s)        1 / 2
Downloading  [=========================================] (00m:00s)  737.70 KB/s
Extracting   [====================>                    ] (00m:00s)        1 / 2
Downloading  [=========================================] (00m:00s)  737.70 KB/s
Extracting   [====================>                    ] (00m:00s)        1 / 2
Downloading  [=========================================] (00m:00s)  737.70 KB/s
Extracting   [=========================================] (00m:00s)        2 / 2
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Import the required modules and functions

In [2]:
from bs4 import BeautifulSoup # this module helps in web scrapping.
import requests  # this module helps us to download a web page

<h2 id="BSO">Beautiful Soup Objects</h2>

Beautiful Soup is a Python library for pulling data out of HTML and XML files, we will focus on HTML files. This is accomplished by representing the HTML as a set of objects with methods used to parse the HTML.  We can navigate the HTML as a tree and/or filter out what we are looking for.

Consider the following HTML:

In [3]:
%%html
<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>
<h3><b id='boldest'>Lebron James</b></h3>
<p> Salary: $ 92,000,000 </p>
<h3> Stephen Curry</h3>
<p> Salary: $85,000, 000 </p>
<h3> Kevin Durant </h3>
<p> Salary: $73,200, 000</p>
</body>
</html>

We can store it as a string in the variable HTML:

In [4]:
html="<!DOCTYPE html><html><head><title>Page Title</title></head><body><h3><b id='boldest'>Lebron James</b></h3><p> Salary: $ 92,000,000 </p><h3> Stephen Curry</h3><p> Salary: $85,000, 000 </p><h3> Kevin Durant </h3><p> Salary: $73,200, 000</p></body></html>"

To parse a document, pass it into the <code>BeautifulSoup</code> constructor, the <code>BeautifulSoup</code> object, which represents the document as a nested data structure:

In [5]:
soup = BeautifulSoup(html, "html.parser")

First, the document is converted to Unicode, (similar to ASCII),  and HTML entities are converted to Unicode characters. Beautiful Soup transforms a complex HTML document into a complex tree of Python objects. The <code>BeautifulSoup</code> object can create other types of objects. In this lab, we will cover <code>BeautifulSoup</code> and <code>Tag</code> objects that for the purposes of this lab are identical, and <code>NavigableString</code> objects.

We can use the method <code>prettify()</code> to display the HTML in the nested structure:

In [6]:
print(soup.prettify())

<!DOCTYPE html>
<html>
 <head>
  <title>
   Page Title
  </title>
 </head>
 <body>
  <h3>
   <b id="boldest">
    Lebron James
   </b>
  </h3>
  <p>
   Salary: $ 92,000,000
  </p>
  <h3>
   Stephen Curry
  </h3>
  <p>
   Salary: $85,000, 000
  </p>
  <h3>
   Kevin Durant
  </h3>
  <p>
   Salary: $73,200, 000
  </p>
 </body>
</html>

## Tags

Let's say we want the  title of the page and the name of the top paid player we can use the <code>Tag</code>. The <code>Tag</code> object corresponds to an HTML tag in the original document, for example, the tag title.

In [7]:
tag_object=soup.title
print("tag object:",tag_object)

tag object: <title>Page Title</title>

we can see the tag type <code>bs4.element.Tag</code>

In [8]:
print("tag object type:",type(tag_object))

tag object type: <class 'bs4.element.Tag'>

If there is more than one <code>Tag</code>  with the same name, the first element with that <code>Tag</code> name is called, this corresponds to the most paid player:

In [9]:
tag_object=soup.h3
tag_object

Enclosed in the bold attribute <code>b</code>, it helps to use the tree representation. We can navigate down the tree using the child attribute to get the name.

### Children, Parents, and Siblings

As stated above the <code>Tag</code> object is a tree of objects we can access the child of the tag or navigate down the branch as follows:

In [10]:
tag_child =tag_object.b
tag_child

You can access the parent with the <code> parent</code>

In [11]:
parent_tag=tag_child.parent
parent_tag

this is identical to

In [11]:
tag_object

<code>tag_object</code> parent is the <code>body</code> element.

In [12]:
tag_object.parent

<code>tag_object</code> sibling is the <code>paragraph</code> element

In [13]:
sibling_1=tag_object.next_sibling
sibling_1

`sibling_2` is the `header` element which is also a sibling of both `sibling_1` and `tag_object`

In [14]:
sibling_2=sibling_1.next_sibling
sibling_2

<h3 id="first_question">Exercise: <code>next_sibling</code></h3>

Using the object <code>sibling\_2</code> and the property <code>next_sibling</code> to find the salary of Stephen Curry:

In [17]:
sibling_3=sibling_2.next_sibling
sibling_3

<details><summary>Click here for the solution</summary>

```
sibling_2.next_sibling

```

</details>

### HTML Attributes

If the tag has attributes, the tag <code>id="boldest"</code> has an attribute <code>id</code> whose value is <code>boldest</code>. You can access a tag’s attributes by treating the tag like a dictionary:

In [18]:
tag_child['id']

'boldest'

You can access that dictionary directly as <code>attrs</code>:

In [19]:
tag_child.attrs

{'id': 'boldest'}

You can also work with Multi-valued attribute check out <a href="https://www.crummy.com/software/BeautifulSoup/bs4/doc/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0220ENSkillsNetwork23455606-2021-01-01">\[1]</a> for more.

We can also obtain the content if the attribute of the <code>tag</code> using the Python <code>get()</code> method.

In [20]:
tag_child.get('id')

'boldest'

### Navigable String

A string corresponds to a bit of text or content within a tag. Beautiful Soup uses the <code>NavigableString</code> class to contain this text. In our HTML we can obtain the name of the first player by extracting the sting of the <code>Tag</code> object <code>tag_child</code> as follows:

In [21]:
tag_string=tag_child.string
tag_string

'Lebron James'

we can verify the type is Navigable String

In [19]:
type(tag_string)

bs4.element.NavigableString

A NavigableString is just like a Python string or Unicode string, to be more precise. The main difference is that it also supports some  <code>BeautifulSoup</code> features. We can covert it to sting object in Python:

In [20]:
unicode_string = str(tag_string)
unicode_string

'Lebron James'

<h2 id="filter">Filter</h2>

Filters allow you to find complex patterns, the simplest filter is a string. In this section we will pass a string to a different filter method and Beautiful Soup will perform a match against that exact string.  Consider the following HTML of rocket launchs:

In [22]:
%%html
<table>
  <tr>
    <td id='flight' >Flight No</td>
    <td>Launch site</td> 
    <td>Payload mass</td>
   </tr>
  <tr> 
    <td>1</td>
    <td><a href='https://en.wikipedia.org/wiki/Florida'>Florida</a></td>
    <td>300 kg</td>
  </tr>
  <tr>
    <td>2</td>
    <td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td>
    <td>94 kg</td>
  </tr>
  <tr>
    <td>3</td>
    <td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a> </td>
    <td>80 kg</td>
  </tr>
</table>

We can store it as a string in the variable <code>table</code>:

In [23]:
table="<table><tr><td id='flight'>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr> <td>1</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a></td><td>300 kg</td></tr><tr><td>2</td><td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a> </td><td>80 kg</td></tr></table>"

In [24]:
table_bs = BeautifulSoup(table, "html.parser")

## find All

The <code>find_all()</code> method looks through a tag’s descendants and retrieves all descendants that match your filters.

<p>
The Method signature for <code>find_all(name, attrs, recursive, string, limit, **kwargs)<c/ode>
</p>

### Name

When we set the <code>name</code> parameter to a tag name, the method will extract all the tags with that name and its children.

In [25]:
table_rows=table_bs.find_all('tr')
table_rows

[<tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>,
 <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td><td>300 kg</td></tr>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td><td>80 kg</td></tr>]

The result is a Python Iterable just like a list, each element is a <code>tag</code> object:

In [26]:
first_row =table_rows[0]
first_row

The type is <code>tag</code>

In [27]:
print(type(first_row))

<class 'bs4.element.Tag'>

we can obtain the child

In [28]:
first_row.td

If we iterate through the list, each element corresponds to a row in the table:

In [28]:
for i,row in enumerate(table_rows):
    print("row",i,"is",row)

row 0 is <tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>
row 1 is <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td><td>300 kg</td></tr>
row 2 is <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>
row 3 is <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td><td>80 kg</td></tr>

As <code>row</code> is a <code>cell</code> object, we can apply the method <code>find_all</code> to it and extract table cells in the object <code>cells</code> using the tag <code>td</code>, this is all the children with the name <code>td</code>. The result is a list, each element corresponds to a cell and is a <code>Tag</code> object, we can iterate through this list as well. We can extract the content using the <code>string</code>  attribute.

In [29]:
for i,row in enumerate(table_rows):
    print("row",i)
    cells=row.find_all('td')
    for j,cell in enumerate(cells):
        print('colunm',j,"cell",cell)

row 0
colunm 0 cell <td id="flight">Flight No</td>
colunm 1 cell <td>Launch site</td>
colunm 2 cell <td>Payload mass</td>
row 1
colunm 0 cell <td>1</td>
colunm 1 cell <td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td>
colunm 2 cell <td>300 kg</td>
row 2
colunm 0 cell <td>2</td>
colunm 1 cell <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>
colunm 2 cell <td>94 kg</td>
row 3
colunm 0 cell <td>3</td>
colunm 1 cell <td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td>
colunm 2 cell <td>80 kg</td>

If we use a list we can match against any item in that list.

In [30]:
list_input=table_bs .find_all(name=["tr", "td"])
list_input

[<tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>,
 <td id="flight">Flight No</td>,
 <td>Launch site</td>,
 <td>Payload mass</td>,
 <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td><td>300 kg</td></tr>,
 <td>1</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td>,
 <td>300 kg</td>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <td>2</td>,
 <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>,
 <td>94 kg</td>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td><td>80 kg</td></tr>,
 <td>3</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td>,
 <td>80 kg</td>]

## Attributes

If the argument is not recognized it will be turned into a filter on the tag’s attributes. For example the <code>id</code>  argument, Beautiful Soup will filter against each tag’s <code>id</code> attribute. For example, the first <code>td</code> elements have a value of <code>id</code> of <code>flight</code>, therefore we can filter based on that <code>id</code> value.

In [31]:
table_bs.find_all(id="flight")

We can find all the elements that have links to the Florida Wikipedia page:

In [32]:
list_input=table_bs.find_all(href="https://en.wikipedia.org/wiki/Florida")
list_input

[<a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a>,
 <a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a>]

If we set the  <code>href</code> attribute to True, regardless of what the value is, the code finds all tags with <code>href</code> value:

In [33]:
table_bs.find_all(href=True)

[<a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a>,
 <a href="https://en.wikipedia.org/wiki/Texas">Texas</a>,
 <a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a>]

There are other methods for dealing with attributes and other related methods; Check out the following <a href='https://www.crummy.com/software/BeautifulSoup/bs4/doc/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0220ENSkillsNetwork23455606-2021-01-01#css-selectors'>link</a>

<h3 id="exer_type">Exercise: <code>find_all</code></h3>

Using the logic above, find all the elements without <code>href</code> value

<details><summary>Click here for the solution</summary>

```
table_bs.find_all(href=False)

```

</details>

Using the soup object <code>soup</code>, find the element with the <code>id</code> attribute content set to <code>"boldest"</code>.

<details><summary>Click here for the solution</summary>

```
soup.find_all(id="boldest")

```

</details>

### string

With string you can search for strings instead of tags, where we find all the elments with Florida:

In [34]:
table_bs.find_all(string="Florida")

['Florida', 'Florida']

## find

The <code>find_all()</code> method scans the entire document looking for results, it’s if you are looking for one element you can use the <code>find()</code> method to find the first element in the document. Consider the following two table:

In [35]:
%%html
<h3>Rocket Launch </h3>

<p>
<table class='rocket'>
  <tr>
    <td>Flight No</td>
    <td>Launch site</td> 
    <td>Payload mass</td>
  </tr>
  <tr>
    <td>1</td>
    <td>Florida</td>
    <td>300 kg</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Texas</td>
    <td>94 kg</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Florida </td>
    <td>80 kg</td>
  </tr>
</table>
</p>
<p>

<h3>Pizza Party  </h3>
  
    
<table class='pizza'>
  <tr>
    <td>Pizza Place</td>
    <td>Orders</td> 
    <td>Slices </td>
   </tr>
  <tr>
    <td>Domino's Pizza</td>
    <td>10</td>
    <td>100</td>
  </tr>
  <tr>
    <td>Little Caesars</td>
    <td>12</td>
    <td >144 </td>
  </tr>
  <tr>
    <td>Papa John's </td>
    <td>15 </td>
    <td>165</td>
  </tr>

We store the HTML as a Python string and assign <code>two_tables</code>:

In [31]:
two_tables="<h3>Rocket Launch </h3><p><table class='rocket'><tr><td>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr><td>1</td><td>Florida</td><td>300 kg</td></tr><tr><td>2</td><td>Texas</td><td>94 kg</td></tr><tr><td>3</td><td>Florida </td><td>80 kg</td></tr></table></p><p><h3>Pizza Party  </h3><table class='pizza'><tr><td>Pizza Place</td><td>Orders</td> <td>Slices </td></tr><tr><td>Domino's Pizza</td><td>10</td><td>100</td></tr><tr><td>Little Caesars</td><td>12</td><td >144 </td></tr><tr><td>Papa John's </td><td>15 </td><td>165</td></tr>"

We create a <code>BeautifulSoup</code> object  <code>two_tables_bs</code>

In [32]:
two_tables_bs= BeautifulSoup(two_tables, 'html.parser')

We can find the first table using the tag name table

In [33]:
two_tables_bs.find("table")

<table class="rocket"><tr><td>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr><td>1</td><td>Florida</td><td>300 kg</td></tr><tr><td>2</td><td>Texas</td><td>94 kg</td></tr><tr><td>3</td><td>Florida </td><td>80 kg</td></tr></table>

We can filter on the class attribute to find the second table, but because class is a keyword in Python, we add an underscore.

In [34]:
two_tables_bs.find("table",class_='pizza')

<table class="pizza"><tr><td>Pizza Place</td><td>Orders</td> <td>Slices </td></tr><tr><td>Domino's Pizza</td><td>10</td><td>100</td></tr><tr><td>Little Caesars</td><td>12</td><td>144 </td></tr><tr><td>Papa John's </td><td>15 </td><td>165</td></tr></table>

<h2 id="DSCW">Downloading And Scraping The Contents Of A Web Page</h2>

We Download the contents of the web page:

In [35]:
url = "http://www.ibm.com"

We use <code>get</code> to download the contents of the webpage in text format and store in a variable called <code>data</code>:

In [36]:
data  = requests.get(url).text

We create a <code>BeautifulSoup</code> object using the <code>BeautifulSoup</code> constructor

In [37]:
soup = BeautifulSoup(data,"html.parser")  # create a soup object using the variable 'data'

Scrape all links

In [38]:
for link in soup.find_all('a',href=True):  # in html anchor/link is represented by the tag <a>

    print(link.get('href'))

#main-content
http://www.ibm.com
https://www.ibm.com/analytics/data-fabric/?lnk=ushpv18l1
#ibm-hp--tech-section
https://www.ibm.com/consulting/?lnk=ushpv18intro2
https://research.ibm.com/blog/accelerated-discovery-film?lnk=ushpv18r1
https://research.ibm.com/blog/accelerated-discovery-film?lnk=ushpv18r1
https://research.ibm.com/publications/an-integrated-photonics-engine-for-unsupervised-correlation-detection?lnk=ushpv18r2#publication-notes
https://research.ibm.com/blog/qiskit-runtime-for-useful-quantum-computing?lnk=ushpv18r3
https://research.ibm.com/blog/earth-day-2022?lnk=ushpv18r4
https://www.ibm.com/thought-leadership/new-creators/stephanie-carruthers/?lnk=ushpv18f1
https://www.ibm.com/blogs/internet-of-things/intelligent-asset-management-strategy-benefits/?lnk=ushpv18f2
https://www.ibm.com/thought-leadership/institute-business-value/report/mastering-hybrid-cloud?lnk=ushpv18f3
https://www.ibm.com/garage?lnk=ushpv18f4
https://www.ibm.com/case-studies/search?lnk=ushpv18mAll
https://www.ibm.com/case-studies/micro-strategies-inc/?lnk=ushpv18m1
https://www.ibm.com/case-studies/pandora-jewellery/?lnk=ushpv18m2
https://www.ibm.com/case-studies/samsung-electronics/?lnk=ushpv18m3
https://www.ibm.com/products?types[0]=trial&lnk=STW_US_MPDISC_BNR_BTN&lnk2=THP&lnk3=ushpv18tAll
https://www.ibm.com/products/offers-and-discounts?link=ushpv18t5&lnk2=trial_mktpl_MPDISC
https://www.ibm.com/products/cloud-pak-for-data/scale-trustworthy-ai?lnk=ushpv18t1&lnk2=trial_Verify&psrc=none&pexp=def
https://www.ibm.com/verify/verify-identity?lnk=ushpv18t2&lnk2=trial_Verify&psrc=none&pexp=def
https://www.ibm.com/products/cognos-analytics?lnk=ushpv18t3&lnk2=trial_CogAnalytics&psrc=none&pexp=def
https://www.ibm.com/search?lnk=ushpv18srch&locale=en-us&q=
https://www.ibm.com/products?lnk=ushpv18p1&lnk2=trial_mktpl&psrc=none&pexp=def
https://www.ibm.com/cloud/hybrid?lnk=ushpv18pt14
https://www.ibm.com/watson?lnk=ushpv18pt17
https://www.ibm.com/it-infrastructure?lnk=ushpv18pt19
https://www.ibm.com/blockchain?lnk=ushpv18pt4
https://www.ibm.com/security/products?lnk=ushpv18pt9
https://www.ibm.com/analytics/products?lnk=ushpv18pt1
https://www.ibm.com/cloud/automation?lnk=ushpv18ct21
https://www.ibm.com/quantum-computing?lnk=ushpv18pt16
https://www.ibm.com/mysupport/s/?language=en_US&lnk=ushpv18ct11
https://www.ibm.com/training/?lnk=ushpv18ct15
https://community.ibm.com/community/user/home/?lnk=ushpv18ct20
https://developer.ibm.com/?lnk=ushpv18ct9
https://www.ibm.com/garage?lnk=ushpv18pt18
https://www.ibm.com/docs/en?lnk=ushpv18ct14
https://www.redbooks.ibm.com/?lnk=ushpv18ct10
https://www.ibm.com/subscribe/?lnk=ushpv18ct22
https://www-03.ibm.com/employment/technicaltalent/developer/?lnk=ushpv18ct2
https://www.ibm.com/

## Scrape  all images  Tags

In [39]:
for link in soup.find_all('img'):# in html image is represented by the tag <img>
    print(link)
    print(link.get('src'))

<img alt="" aria-hidden="true" role="presentation" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA1NSIgaGVpZ2h0PSI1MjcuNSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiLz4=" style="max-width:100%;display:block;margin:0;border:none;padding:0"/>
data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA1NSIgaGVpZ2h0PSI1MjcuNSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiLz4=
<img alt="leadspace mobile image" class="ibm-resize" decoding="async" src="https://1.dam.s81c.com/p/077d6f8237251350/2022031-ls-data-driven-mobile-720x360.png" style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"/>
https://1.dam.s81c.com/p/077d6f8237251350/2022031-ls-data-driven-mobile-720x360.png
<img alt=" " class="bx--image__img" src="https://1.dam.s81c.com/p/08243aa1b03b6088/20220606-r1-accelerated-discovery-26724-1600x900.jpg"/>
https://1.dam.s81c.com/p/08243aa1b03b6088/20220606-r1-accelerated-discovery-26724-1600x900.jpg
<img alt=" " class="bx--image__img bx--card__img" src="https://1.dam.s81c.com/p/08333674a8263003/20220613-r-light-computing-1600x900.png"/>
https://1.dam.s81c.com/p/08333674a8263003/20220613-r-light-computing-1600x900.png
<img alt=" " class="bx--image__img bx--card__img" src="https://1.dam.s81c.com/p/07bbb0107dc3d30b/20220412-research-26578-Qiskit-PAYGO-800x450.jpg"/>
https://1.dam.s81c.com/p/07bbb0107dc3d30b/20220412-research-26578-Qiskit-PAYGO-800x450.jpg
<img alt=" " class="bx--image__img bx--card__img" src="https://1.dam.s81c.com/p/07d5a7f25cc3d90f/20220502-r-earth-day-26621-800x450.jpg"/>
https://1.dam.s81c.com/p/07d5a7f25cc3d90f/20220502-r-earth-day-26621-800x450.jpg
<img alt=" " class="bx--image__img bx--card__img" src="https://1.dam.s81c.com/p/08333674a8263000/20220613-f-new-creators-stephanie-carruthers-26732-444x320.jpg"/>
https://1.dam.s81c.com/p/08333674a8263000/20220613-f-new-creators-stephanie-carruthers-26732-444x320.jpg
<img alt=" " class="bx--image__img bx--card__img" src="https://1.dam.s81c.com/p/08333674a8263010/20220613-26720-intelligent-asset-management-444x333.jpg"/>
https://1.dam.s81c.com/p/08333674a8263010/20220613-26720-intelligent-asset-management-444x333.jpg
<img alt=" " class="bx--image__img bx--card__img" src="https://1.dam.s81c.com/p/08333674a8a63012/20220613-26530-mastering-hybrid-cloud-ibv-report-444x333.jpg"/>
https://1.dam.s81c.com/p/08333674a8a63012/20220613-26530-mastering-hybrid-cloud-ibv-report-444x333.jpg
<img alt=" " class="bx--image__img bx--card__img" src="https://1.dam.s81c.com/public/content/dam/worldwide-content/homepage/ul/g/c9/39/20220110-f-garage-tour-and-consulting-26338.png"/>
https://1.dam.s81c.com/public/content/dam/worldwide-content/homepage/ul/g/c9/39/20220110-f-garage-tour-and-consulting-26338.png
<img alt=" " class="bx--image__img" src="https://1.dam.s81c.com/p/07d5a7f256c3d284/20220425-Micro-Strategies-Secure-Lever-26597-1600x900.jpg"/>
https://1.dam.s81c.com/p/07d5a7f256c3d284/20220425-Micro-Strategies-Secure-Lever-26597-1600x900.jpg
<img alt=" " class="bx--image__img" src="https://1.dam.s81c.com/p/0824479375c53465/20220606-m-pandora-jewelry-26707-1600x900.jpg"/>
https://1.dam.s81c.com/p/0824479375c53465/20220606-m-pandora-jewelry-26707-1600x900.jpg
<img alt=" " class="bx--image__img" src="https://1.dam.s81c.com/p/08244793754533a5/20220530-m-samsung-electronics-26697-1600x900.jpg"/>
https://1.dam.s81c.com/p/08244793754533a5/20220530-m-samsung-electronics-26697-1600x900.jpg
<img alt=" " class="bx--image__img bx--card__img" src="https://1.dam.s81c.com/p/075b9d6845a4394a/Watson-Studio-trial-800x450.jpg"/>
https://1.dam.s81c.com/p/075b9d6845a4394a/Watson-Studio-trial-800x450.jpg
<img alt=" " class="bx--image__img bx--card__img" src="https://1.dam.s81c.com/public/content/dam/worldwide-content/homepage/ul/g/ac/2e/Security-Verify-Trial-800x450.jpg"/>
https://1.dam.s81c.com/public/content/dam/worldwide-content/homepage/ul/g/ac/2e/Security-Verify-Trial-800x450.jpg
<img alt=" " class="bx--image__img bx--card__img" src="https://1.dam.s81c.com/p/0795cae91aa515c7/20220404-t-ibm-cognos-analytics-with-watson.png"/>
https://1.dam.s81c.com/p/0795cae91aa515c7/20220404-t-ibm-cognos-analytics-with-watson.png

## Scrape data from HTML tables

In [40]:
#The below url contains an html table with data about colors and color codes.
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/HTMLColorCodes.html"

Before proceeding to scrape a web site, you need to examine the contents, and the way data is organized on the website. Open the above url in your browser and check how many rows and columns are there in the color table.

In [41]:
# get the contents of the webpage in text format and store in a variable called data
data  = requests.get(url).text

In [42]:
soup = BeautifulSoup(data,"html.parser")

In [43]:
#find a html table in the web page
table = soup.find('table') # in html table is represented by the tag <table>

In [44]:
#Get all rows from the table
for row in table.find_all('tr'): # in html table row is represented by the tag <tr>
    # Get all columns in each row.
    cols = row.find_all('td') # in html a column is represented by the tag <td>
    color_name = cols[2].string # store the value in column 3 as color_name
    color_code = cols[3].string # store the value in column 4 as color_code
    print("{}--->{}".format(color_name,color_code))

Color Name--->None
lightsalmon--->#FFA07A
salmon--->#FA8072
darksalmon--->#E9967A
lightcoral--->#F08080
coral--->#FF7F50
tomato--->#FF6347
orangered--->#FF4500
gold--->#FFD700
orange--->#FFA500
darkorange--->#FF8C00
lightyellow--->#FFFFE0
lemonchiffon--->#FFFACD
papayawhip--->#FFEFD5
moccasin--->#FFE4B5
peachpuff--->#FFDAB9
palegoldenrod--->#EEE8AA
khaki--->#F0E68C
darkkhaki--->#BDB76B
yellow--->#FFFF00
lawngreen--->#7CFC00
chartreuse--->#7FFF00
limegreen--->#32CD32
lime--->#00FF00
forestgreen--->#228B22
green--->#008000
powderblue--->#B0E0E6
lightblue--->#ADD8E6
lightskyblue--->#87CEFA
skyblue--->#87CEEB
deepskyblue--->#00BFFF
lightsteelblue--->#B0C4DE
dodgerblue--->#1E90FF

## Scrape data from HTML tables into a DataFrame using BeautifulSoup and Pandas

In [45]:
import pandas as pd

In [46]:
#The below url contains html tables with data about world population.
url = "https://en.wikipedia.org/wiki/World_population"

Before proceeding to scrape a web site, you need to examine the contents, and the way data is organized on the website. Open the above url in your browser and check the tables on the webpage.

In [47]:
# get the contents of the webpage in text format and store in a variable called data
data  = requests.get(url).text

In [48]:
soup = BeautifulSoup(data,"html.parser")

In [50]:
#find all html tables in the web page
tables = soup.find_all('table') # in html table is represented by the tag <table>

In [51]:
# we can see how many tables were found by checking the length of the tables list
len(tables)

26

Assume that we are looking for the `10 most densly populated countries` table, we can look through the tables list and find the right one we are look for based on the data in each table or we can search for the table name if it is in the table but this option might not always work.

In [52]:
for index,table in enumerate(tables):
    if ("10 most densely populated countries" in str(table)):
        table_index = index
print(table_index)

5

See if you can locate the table name of the table, `10 most densly populated countries`, below.

In [53]:
print(tables[table_index].prettify())

<table class="wikitable sortable" style="text-align:right">
 <caption>
  10 most densely populated countries
  <small>
   (with population above 5 million)
  </small>
 </caption>
 <tbody>
  <tr>
   <th>
    Rank
   </th>
   <th>
    Country
   </th>
   <th>
    Population
   </th>
   <th>
    Area
    <br/>
    <small>
     (km
     <sup>
      2
     </sup>
     )
    </small>
   </th>
   <th>
    Density
    <br/>
    <small>
     (pop/km
     <sup>
      2
     </sup>
     )
    </small>
   </th>
  </tr>
  <tr>
   <td>
    1
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Singapore.svg/23px-Flag_of_Singapore.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Singapore.svg/35px-Flag_of_Singapore.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Singapore.svg/45px-Flag_of_Singapore.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Singapore" title="Singapore">
     Singapore
    </a>
   </td>
   <td>
    5,704,000
   </td>
   <td>
    710
   </td>
   <td>
    8,033
   </td>
  </tr>
  <tr>
   <td>
    2
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="1000" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Flag_of_Bangladesh.svg/23px-Flag_of_Bangladesh.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Flag_of_Bangladesh.svg/35px-Flag_of_Bangladesh.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Flag_of_Bangladesh.svg/46px-Flag_of_Bangladesh.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Bangladesh" title="Bangladesh">
     Bangladesh
    </a>
   </td>
   <td>
    172,910,000
   </td>
   <td>
    143,998
   </td>
   <td>
    1,201
   </td>
  </tr>
  <tr>
   <td>
    3
   </td>
   <td align="left">
    <p>
     <span class="flagicon">
      <img alt="" class="thumbborder" data-file-height="216" data-file-width="432" decoding="async" height="12" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/00/Flag_of_Palestine.svg/23px-Flag_of_Palestine.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/0/00/Flag_of_Palestine.svg/35px-Flag_of_Palestine.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/0/00/Flag_of_Palestine.svg/46px-Flag_of_Palestine.svg.png 2x" width="23"/>
     </span>
     <a href="/wiki/State_of_Palestine" title="State of Palestine">
      Palestine
     </a>
    </p>
   </td>
   <td>
    5,266,785
   </td>
   <td>
    6,020
   </td>
   <td>
    847
   </td>
  </tr>
  <tr>
   <td>
    4
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/59/Flag_of_Lebanon.svg/23px-Flag_of_Lebanon.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/59/Flag_of_Lebanon.svg/35px-Flag_of_Lebanon.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/59/Flag_of_Lebanon.svg/45px-Flag_of_Lebanon.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Lebanon" title="Lebanon">
     Lebanon
    </a>
   </td>
   <td>
    6,856,000
   </td>
   <td>
    10,452
   </td>
   <td>
    656
   </td>
  </tr>
  <tr>
   <td>
    5
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/7/72/Flag_of_the_Republic_of_China.svg/23px-Flag_of_the_Republic_of_China.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/7/72/Flag_of_the_Republic_of_China.svg/35px-Flag_of_the_Republic_of_China.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/7/72/Flag_of_the_Republic_of_China.svg/45px-Flag_of_the_Republic_of_China.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Taiwan" title="Taiwan">
     Taiwan
    </a>
   </td>
   <td>
    23,604,000
   </td>
   <td>
    36,193
   </td>
   <td>
    652
   </td>
  </tr>
  <tr>
   <td>
    6
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/23px-Flag_of_South_Korea.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/35px-Flag_of_South_Korea.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/45px-Flag_of_South_Korea.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/South_Korea" title="South Korea">
     South Korea
    </a>
   </td>
   <td>
    51,781,000
   </td>
   <td>
    99,538
   </td>
   <td>
    520
   </td>
  </tr>
  <tr>
   <td>
    7
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="720" data-file-width="1080" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/17/Flag_of_Rwanda.svg/23px-Flag_of_Rwanda.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/1/17/Flag_of_Rwanda.svg/35px-Flag_of_Rwanda.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/1/17/Flag_of_Rwanda.svg/45px-Flag_of_Rwanda.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Rwanda" title="Rwanda">
     Rwanda
    </a>
   </td>
   <td>
    12,374,000
   </td>
   <td>
    26,338
   </td>
   <td>
    470
   </td>
  </tr>
  <tr>
   <td>
    8
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="1000" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/56/Flag_of_Haiti.svg/23px-Flag_of_Haiti.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/56/Flag_of_Haiti.svg/35px-Flag_of_Haiti.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/56/Flag_of_Haiti.svg/46px-Flag_of_Haiti.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Haiti" title="Haiti">
     Haiti
    </a>
   </td>
   <td>
    11,578,000
   </td>
   <td>
    27,065
   </td>
   <td>
    428
   </td>
  </tr>
  <tr>
   <td>
    9
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/2/20/Flag_of_the_Netherlands.svg/23px-Flag_of_the_Netherlands.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/2/20/Flag_of_the_Netherlands.svg/35px-Flag_of_the_Netherlands.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/2/20/Flag_of_the_Netherlands.svg/45px-Flag_of_the_Netherlands.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Netherlands" title="Netherlands">
     Netherlands
    </a>
   </td>
   <td>
    17,730,000
   </td>
   <td>
    41,526
   </td>
   <td>
    427
   </td>
  </tr>
  <tr>
   <td>
    10
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="800" data-file-width="1100" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Flag_of_Israel.svg/21px-Flag_of_Israel.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Flag_of_Israel.svg/32px-Flag_of_Israel.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Flag_of_Israel.svg/41px-Flag_of_Israel.svg.png 2x" width="21"/>
    </span>
    <a href="/wiki/Israel" title="Israel">
     Israel
    </a>
   </td>
   <td>
    9,530,000
   </td>
   <td>
    22,072
   </td>
   <td>
    432
   </td>
  </tr>
 </tbody>
</table>

In [54]:
population_data = pd.DataFrame(columns=["Rank", "Country", "Population", "Area", "Density"])

for row in tables[table_index].tbody.find_all("tr"):
    col = row.find_all("td")
    if (col != []):
        rank = col[0].text
        country = col[1].text
        population = col[2].text.strip()
        area = col[3].text.strip()
        density = col[4].text.strip()
        population_data = population_data.append({"Rank":rank, "Country":country, "Population":population, "Area":area, "Density":density}, ignore_index=True)

population_data

  Rank           Country   Population     Area Density
0    1         Singapore    5,704,000      710   8,033
1    2        Bangladesh  172,910,000  143,998   1,201
2    3  \n Palestine\n\n    5,266,785    6,020     847
3    4           Lebanon    6,856,000   10,452     656
4    5            Taiwan   23,604,000   36,193     652
5    6       South Korea   51,781,000   99,538     520
6    7            Rwanda   12,374,000   26,338     470
7    8             Haiti   11,578,000   27,065     428
8    9       Netherlands   17,730,000   41,526     427
9   10            Israel    9,530,000   22,072     432

## Scrape data from HTML tables into a DataFrame using BeautifulSoup and read_html

Using the same `url`, `data`, `soup`, and `tables` object as in the last section we can use the `read_html` function to create a DataFrame.

Remember the table we need is located in `tables[table_index]`

We can now use the `pandas` function `read_html` and give it the string version of the table as well as the `flavor` which is the parsing engine `bs4`.

In [57]:
pd.read_html(str(tables), flavor='bs4')

[                                                    #  \
 0                                                   1
 1                                                   2
 2                                                   3
 3                                                   4
 4                                                   5
 5                                                   6
 6                                                   7
 7                                                   8
 8                                                   9
 9                                                  10
 10                                                NaN
 11  Notes: .mw-parser-output .reflist{font-size:90...

                               Most populous countries  \
 0                                            China[B]
 1                                               India
 2                                       United States
 3                                           Indonesia
 4                                            Pakistan
 5                                              Brazil
 6                                             Nigeria
 7                                          Bangladesh
 8                                              Russia
 9                                              Mexico
 10                                        World total
 11  Notes: .mw-parser-output .reflist{font-size:90...

                                                  2000  \
 0                                                1270
 1                                                1053
 2                                                 283
 3                                                 212
 4                                                 136
 5                                                 176
 6                                                 123
 7                                                 131
 8                                                 146
 9                                                 103
 10                                               6127
 11  Notes: .mw-parser-output .reflist{font-size:90...

                                                  2015  \
 0                                                1376
 1                                                1311
 2                                                 322
 3                                                 258
 4                                                 208
 5                                                 206
 6                                                 182
 7                                                 161
 8                                                 146
 9                                                 127
 10                                               7349
 11  Notes: .mw-parser-output .reflist{font-size:90...

                                               2030[A]
 0                                                1416
 1                                                1528
 2                                                 356
 3                                                 295
 4                                                 245
 5                                                 228
 6                                                 263
 7                                                 186
 8                                                 149
 9                                                 148
 10                                               8501
 11  Notes: .mw-parser-output .reflist{font-size:90...  ,
                      Region Density(inhabitants/km2) Population(millions)  \
 0                      Asia                    104.1                 4641
 1                    Africa                     44.4                 1340
 2                    Europe                     73.4                  747
 3             Latin America                     24.1                  653
 4  Northern America[note 2]                     14.9                  368
 5                   Oceania                        5                   42
 6                Antarctica                       ~0            0.004[16]

                                Most populous country  \
 0                      1,411,778,000[note 1] – China
 1                             0211,401,000 – Nigeria
 2  0146,171,000 – Russia;approx. 110 million in E...
 3                              0214,103,000 – Brazil
 4                       0332,909,000 – United States
 5                           0025,917,000 – Australia
 6                                        N/A[note 3]

               Most populous city (metropolitan area)
 0  37,400,000/13,515,000 – Greater Tokyo Area/Tok...
 1         20,076,000/9,500,000 – Greater Cairo/Cairo
 2  20,004,000/13,200,000 – Moscow metropolitan ar...
 3  21,650,000/12,252,000 – São Paulo Metro Area/S...
 4  23,582,649[17]/8,804,000 – New York metropolit...
 5                                 5,367,000 – Sydney
 6                            1,258 – McMurdo Station  ,
   World population milestones in billions [3](Worldometers estimates)        \
                                                            Population     1
 0                                               Year                   1804
 1                                      Years elapsed                      —


       2     3     4     5     6     7     8     9    10
 0  1927  1960  1974  1987  1999  2011  2023  2037  2057
 1   123    33    14    13    12    12    12    14    20  ,
                                                    0  \
 0  .mw-parser-output .legend{page-break-inside:av...

                                    1
 0  67.5–70 65–67.5 60–65 55–60 50–55  ,
    Rank        Country  Population % of world         Date  \
 0     1          China  1413747800      17.8%  18 Jun 2022
 1     2          India  1379294725      17.3%  18 Jun 2022
 2     3  United States   332789225      4.18%  18 Jun 2022
 3     4      Indonesia   269603400      3.39%   1 Jul 2020
 4     5       Pakistan   220892331      2.78%   1 Jul 2020
 5     6         Brazil   214774567      2.70%  18 Jun 2022
 6     7        Nigeria   206139587      2.59%   1 Jul 2020
 7     8     Bangladesh   172912102      2.17%  18 Jun 2022
 8     9         Russia   146748590      1.84%   1 Jan 2020
 9    10         Mexico   127792286      1.61%   1 Jul 2020

             Source(official or UN)
 0    National population clock[92]
 1    National population clock[93]
 2    National population clock[94]
 3   National annual projection[95]
 4                UN Projection[96]
 5    National population clock[97]
 6                UN Projection[96]
 7    National population clock[98]
 8     National annual estimate[99]
 9  National annual projection[100]  ,
    Rank      Country  Population  Area(km2)  Density(pop/km2)
 0     1    Singapore     5704000        710              8033
 1     2   Bangladesh   172910000     143998              1201
 2     3    Palestine     5266785       6020               847
 3     4      Lebanon     6856000      10452               656
 4     5       Taiwan    23604000      36193               652
 5     6  South Korea    51781000      99538               520
 6     7       Rwanda    12374000      26338               470
 7     8        Haiti    11578000      27065               428
 8     9  Netherlands    17730000      41526               427
 9    10       Israel     9530000      22072               432,
    Rank         Country  Population  Area(km2)  Density(pop/km2)  \
 0     1           India  1379290000    3287240               420
 1     2        Pakistan   228920000     803940               285
 2     3      Bangladesh   172910000     143998              1201
 3     4           Japan   126010000     377873               333
 4     5     Philippines   112030000     300000               373
 5     6         Vietnam    96209000     331689               290
 6     7  United Kingdom    66436000     243610               273
 7     8     South Korea    51781000      99538               520
 8     9          Taiwan    23604000      36193               652
 9    10       Sri Lanka    21803000      65610               332

   Population trend
 0          Growing
 1  Rapidly growing
 2  Rapidly growing
 3   Declining[101]
 4          Growing
 5          Growing
 6          Growing
 7           Steady
 8           Steady
 9          Growing  ,
     Year  Population Yearly growth           Density(pop/km2)  \
     Year  Population             %    Number Density(pop/km2)
 0   1951  2584034261         1.88%  47603112               17
 1   1952  2630861562         1.81%  46827301               18
 2   1953  2677608960         1.78%  46747398               18
 3   1954  2724846741         1.76%  47237781               18
 4   1955  2773019936         1.77%  48173195               19
 ..   ...         ...           ...       ...              ...
 65  2016  7464022000         1.14%  84225000               50
 66  2017  7547859000         1.12%  83837000               51
 67  2018  7631091000         1.10%  83232000               51
 68  2019  7713468000         1.08%  82377000               52
 69  2020  7795000000         1.05%  81331000               52

    Urban population
              Number    %
 0         775067697  30%
 1         799282533  30%
 2         824289989  31%
 3         850179106  31%
 4         877008842  32%
 ..              ...  ...
 65       4060653000  54%
 66       4140189000  55%
 67       4219817000  55%
 68       4299439000  56%
 69       4378900000  56%

 [70 rows x 7 columns],
                      Region  1500  1600  1700  1750  1800  1850  1900  1950  \
 0                     World   585   660   710   791   978  1262  1650  2521
 1                    Africa    86   114   106   106   107   111   133   221
 2                      Asia   282   350   411   502   635   809   947  1402
 3                    Europe   168   170   178   190   203   276   408   547
 4     Latin America[Note 1]    40    20    10    16    24    38    74   167
 5  Northern America[Note 1]     6     3     2     2     7    26    82   172
 6                   Oceania     3     3     3     2     2     2     6    13

    1999  2008  2010  2012  2050  2150
 0  6008  6707  6896  7052  9725  9746
 1   783   973  1022  1052  2478  2308
 2  3700  4054  4164  4250  5267  5561
 3   675   732   738   740   734   517
 4   508   577   590   603   784   912
 5   312   337   345   351   433   398
 6    30    34    37    38    57    51  ,
                      Region  1500  1600  1700  1750  1800  1850  1900  1950  \
 0                    Africa  14.7  17.3  14.9  13.4  10.9   8.8   8.1   8.8
 1                      Asia  48.2  53.0  57.9  63.5  64.9  64.1  57.4  55.6
 2                    Europe  28.7  25.8  25.1  20.6  20.8  21.9  24.7  21.7
 3     Latin America[Note 1]   6.8   3.0   1.4   2.0   2.5   3.0   4.5   6.6
 4  Northern America[Note 1]   1.0   0.5   0.3   0.3   0.7   2.1   5.0   6.8
 5                   Oceania   0.5   0.5   0.4   0.3   0.2   0.2   0.4   0.5

    1999  2008  2010  2012  2050  2150
 0  13.0  14.5  14.8  15.2  25.5  23.7
 1  61.6  60.4  60.4  60.3  54.2  57.1
 2  11.2  10.9  10.7  10.5   7.6   5.3
 3   8.5   8.6   8.6   8.6   8.1   9.4
 4   5.2   5.0   5.0   5.0   4.5   4.1
 5   0.5   0.5   0.5   0.5   0.6   0.5  ,
          Year    World  Africa    Asia  Europe  Latin America& Carib.[Note 1]  \
 0   70,000 BC  < 0.015     NaN     NaN     NaN                            0.0
 1   10,000 BC        4     NaN     NaN     NaN                            NaN
 2     8000 BC        5     NaN     NaN     NaN                            NaN
 3     6500 BC        5     NaN     NaN     NaN                            NaN
 4     5000 BC        5     NaN     NaN     NaN                            NaN
 5     4000 BC        7     NaN     NaN     NaN                            NaN
 6     3000 BC       14     NaN     NaN     NaN                            NaN
 7     2000 BC       27     NaN     NaN     NaN                            NaN
 8     1000 BC       50     7.0    33.0     9.0                            NaN
 9      500 BC      100    14.0    66.0    16.0                            NaN
 10       AD 1      200    23.0   141.0    28.0                            NaN
 11       1000      400    70.0   269.0    50.0                            8.0
 12       1500      458    86.0   243.0    84.0                           39.0
 13       1600      580   114.0   339.0   111.0                           10.0
 14       1700      682   106.0   436.0   125.0                           10.0
 15       1750      791   106.0   502.0   163.0                           16.0
 16       1800     1000   107.0   656.0   203.0                           24.0
 17       1850     1262   111.0   809.0   276.0                           38.0
 18       1900     1650   133.0   947.0   408.0                           74.0
 19       1950     2525   229.0  1394.0   549.0                          169.0
 20       1955     2758   254.0  1534.0   577.0                          193.0
 21       1960     3018   285.0  1687.0   606.0                          221.0
 22       1965     3322   322.0  1875.0   635.0                          254.0
 23       1970     3682   366.0  2120.0   657.0                          288.0
 24       1975     4061   416.0  2378.0   677.0                          326.0
 25       1980     4440   478.0  2626.0   694.0                          365.0
 26       1985     4853   550.0  2897.0   708.0                          406.0
 27       1990     5310   632.0  3202.0   721.0                          447.0
 28       1995     5735   720.0  3475.0   728.0                          487.0
 29       2000     6127   814.0  3714.0   726.0                          527.0
 30       2005     6520   920.0  3945.0   729.0                          564.0
 31       2010     6930  1044.0  4170.0   735.0                          600.0
 32       2015     7349  1186.0  4393.0   738.0                          634.0

     North America[Note 1]  Oceania              Notes
 0                     0.0      NaN              [119]
 1                     NaN      NaN              [120]
 2                     NaN      NaN                NaN
 3                     NaN      NaN                NaN
 4                     NaN      NaN                NaN
 5                     NaN      NaN                NaN
 6                     NaN      NaN                NaN
 7                     NaN      NaN                NaN
 8                     NaN      NaN  [citation needed]
 9                     NaN      NaN                NaN
 10                    NaN      NaN                NaN
 11                    1.0      2.0                NaN
 12                    3.0      3.0                NaN
 13                    3.0      3.0                NaN
 14                    2.0      3.0                NaN
 15                    2.0      2.0                NaN
 16                    7.0      3.0                NaN
 17                   26.0      2.0                NaN
 18                   82.0      6.0                NaN
 19                  172.0     12.7              [121]
 20                  187.0     14.2                NaN
 21                  204.0     15.8                NaN
 22                  219.0     17.5                NaN
 23                  231.0     19.7                NaN
 24                  242.0     21.5                NaN
 25                  254.0     23.0                NaN
 26                  267.0     24.9                NaN
 27                  281.0     27.0                NaN
 28                  296.0     29.1                NaN
 29                  314.0     31.1                NaN
 30                  329.0     33.4                NaN
 31                  344.0     36.4                NaN
 32                  358.0     39.3                NaN  ,
     0                                                  1
 0 NaN  This section needs additional citations for ve...,
    Year  UN est.(millions) Difference  USCB est.(millions) Difference.1
 0  2005               6542          –                 6473            –
 1  2010               6957        415                 6866          393
 2  2015               7380        423                 7256          390
 3  2020               7795        415                 7643          380
 4  2025               8184        390                 8007          363
 5  2030               8549        364                 8341          334
 6  2035               8888        339                 8646          306
 7  2040               9199        311                 8926          280
 8  2045               9482        283                 9180          254
 9  2050               9735        253                 9408          228,
     Year  World           Asia         Africa       Europe  \
 0   2000   6144  3,741 (60.9%)    811 (13.2%)  726 (11.8%)
 1   2005   6542  3,978 (60.8%)    916 (14.0%)  729 (11.2%)
 2   2010   6957  4,210 (60.5%)  1,039 (14.9%)  736 (10.6%)
 3   2015   7380  4,434 (60.1%)  1,182 (16.0%)  743 (10.1%)
 4   2020   7795  4,641 (59.5%)  1,341 (17.2%)   748 (9.6%)
 5   2025   8184  4,823 (58.9%)  1,509 (18.4%)   746 (9.1%)
 6   2030   8549  4,974 (58.2%)  1,688 (19.8%)   741 (8.7%)
 7   2035   8888  5,096 (57.3%)  1,878 (21.1%)   735 (8.3%)
 8   2040   9199  5,189 (56.4%)  2,077 (22.6%)   728 (7.9%)
 9   2045   9482  5,253 (55.4%)  2,282 (24.1%)   720 (7.6%)
 10  2050   9735  5,290 (54.3%)  2,489 (25.6%)   711 (7.3%)
 11  2055   9958  5,302 (53.2%)  2,698 (27.1%)   700 (7.0%)
 12  2060  10152  5,289 (52.1%)  2,905 (28.6%)   689 (6.8%)
 13  2065  10318  5,256 (51.0%)  3,109 (30.1%)   677 (6.6%)
 14  2070  10459  5,207 (49.8%)  3,308 (31.6%)   667 (6.4%)
 15  2075  10577  5,143 (48.6%)  3,499 (33.1%)   657 (6.2%)
 16  2080  10674  5,068 (47.5%)  3,681 (34.5%)   650 (6.1%)
 17  2085  10750  4,987 (46.4%)  3,851 (35.8%)   643 (6.0%)
 18  2090  10810  4,901 (45.3%)  4,008 (37.1%)   638 (5.9%)
 19  2095  10852  4,812 (44.3%)  4,152 (38.3%)   634 (5.8%)
 20  2100  10875  4,719 (43.4%)  4,280 (39.4%)   630 (5.8%)

    Latin America/Caribbean Northern America    Oceania
 0               522 (8.5%)       312 (5.1%)  31 (0.5%)
 1               558 (8.5%)       327 (5.0%)  34 (0.5%)
 2               591 (8.5%)       343 (4.9%)  37 (0.5%)
 3               624 (8.5%)       357 (4.8%)  40 (0.5%)
 4               654 (8.4%)       369 (4.7%)  43 (0.6%)
 5               682 (8.3%)       380 (4.6%)  45 (0.6%)
 6               706 (8.3%)       391 (4.6%)  48 (0.6%)
 7               726 (8.2%)       401 (4.5%)  50 (0.6%)
 8               742 (8.1%)       410 (4.5%)  53 (0.6%)
 9               754 (8.0%)       418 (4.4%)  55 (0.6%)
 10              762 (7.8%)       425 (4.4%)  57 (0.6%)
 11              767 (7.7%)       432 (4.3%)  60 (0.6%)
 12              768 (7.6%)       439 (4.3%)  62 (0.6%)
 13              765 (7.4%)       447 (4.3%)  64 (0.6%)
 14              759 (7.3%)       454 (4.3%)  66 (0.6%)
 15              750 (7.1%)       461 (4.4%)  67 (0.6%)
 16              739 (6.9%)       468 (4.4%)  69 (0.7%)
 17              726 (6.8%)       474 (4.4%)  71 (0.7%)
 18              711 (6.6%)       479 (4.4%)  72 (0.7%)
 19              696 (6.4%)       485 (4.5%)  74 (0.7%)
 20              680 (6.3%)       491 (4.5%)  75 (0.7%)  ,
   Population(in billions)     0.5  0.5.1     1   1.1     2   2.1     4   4.1  \
 0                    Year  1500.0   1500  1804  1804  1927  1927  1974  1974
 1           Years elapsed     NaN    304   304   123   123    47    47    50

       8     8.1
 0  2024  2024.0
 1    50     NaN  ,
   Population(in billions)   0.375  0.375.1  0.75  0.75.1   1.5  1.5.1     3  \
 0                    Year  1171.0     1171  1715    1715  1881   1881  1960
 1           Years elapsed     NaN      544   544     166   166     79    79

     3.1     6     6.1

The function `read_html` always returns a list of DataFrames so we must pick the one we want out of the list.

In [62]:
population_data_read_html = pd.read_html(str(tables), flavor='bs4')[5]

population_data_read_html

   Rank      Country  Population  Area(km2)  Density(pop/km2)
0     1    Singapore     5704000        710              8033
1     2   Bangladesh   172910000     143998              1201
2     3    Palestine     5266785       6020               847
3     4      Lebanon     6856000      10452               656
4     5       Taiwan    23604000      36193               652
5     6  South Korea    51781000      99538               520
6     7       Rwanda    12374000      26338               470
7     8        Haiti    11578000      27065               428
8     9  Netherlands    17730000      41526               427
9    10       Israel     9530000      22072               432

## Scrape data from HTML tables into a DataFrame using read_html

We can also use the `read_html` function to directly get DataFrames from a `url`.

In [63]:
dataframe_list = pd.read_html(url, flavor='bs4')

We can see there are 25 DataFrames just like when we used `find_all` on the `soup` object.

In [64]:
len(dataframe_list)

26

Finally we can pick the DataFrame we need out of the list.

In [65]:
dataframe_list[5]

   Rank      Country  Population  Area(km2)  Density(pop/km2)
0     1    Singapore     5704000        710              8033
1     2   Bangladesh   172910000     143998              1201
2     3    Palestine     5266785       6020               847
3     4      Lebanon     6856000      10452               656
4     5       Taiwan    23604000      36193               652
5     6  South Korea    51781000      99538               520
6     7       Rwanda    12374000      26338               470
7     8        Haiti    11578000      27065               428
8     9  Netherlands    17730000      41526               427
9    10       Israel     9530000      22072               432

We can also use the `match` parameter to select the specific table we want. If the table contains a string matching the text it will be read.

In [66]:
pd.read_html(url, match="10 most densely populated countries", flavor='bs4')[0]

   Rank      Country  Population  Area(km2)  Density(pop/km2)
0     1    Singapore     5704000        710              8033
1     2   Bangladesh   172910000     143998              1201
2     3    Palestine     5266785       6020               847
3     4      Lebanon     6856000      10452               656
4     5       Taiwan    23604000      36193               652
5     6  South Korea    51781000      99538               520
6     7       Rwanda    12374000      26338               470
7     8        Haiti    11578000      27065               428
8     9  Netherlands    17730000      41526               427
9    10       Israel     9530000      22072               432

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By                                               | Change Description |
| ----------------- | ------- | -------------------------------------------------------- | ------------------ |
| 2021-08-04        | 0.2     | Made changes to markdown of nextsibling                  |                    |
| 2020-10-17        | 0.1     | Joseph Santarcangelo  Created initial version of the lab |                    |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0220ENSkillsNetwork23455606-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork-19487395&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).